
/*
  Here we put the css we want to be applied globally in our app

  */



/* 
    This directive tells the browser to include padding and
    border elements in its width and height calculations.
*/
html {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%; /* html and body element take a whole of height   */
}

*,
*:hover,
*::after {
  box-sizing: inherit;
}
